
<div class="container">
  <h1> Registrierung für Ihr virtuelles Aktien-Portfolio </h1>
    <form #formData="ngForm">
      {{ formData.value | json}}
      <div class="form-group">
        <label for="firstName"> Vorname </label>
        <input class="form-control" type="text" name="firstName" id="firstName" ngModel>
      </div>
      <div class="form-group">
        <label for="lastName"> Nachname </label>
        <input class="form-control" type="text" name="lastName" id="lastName" ngModel>
      </div>   
      <div class="form-group">
        <label for="email"> Email </label>
        <input class="form-control" type="email" name="email" id="email" ngModel>
      </div>   
      <div class="form-group">
        <label for="phone>"> Telefon </label>
        <input class="form-control" type="tel" name="phone" id="phone" ngModel>
      </div>
      <div class="form-group">
        <label for="username"> Benutzername </label>
        <input class="form-control" type="text" name="username" id="username" ngModel>
      </div>   
      <div class="form-group">
        <label for="password"> Passwort </label>
        <input class="form-control" type="text" name="password" id="password" ngModel>
      </div>     
      
      <button type="submit" class="btn btn-primary"> Registrieren </button>
    </form>
</div>
