<header class="header">
  <nav class="navbar">
    <ul class="navlinksList">
      <li class="navlink"> <a [routerLink]="['/']"> Home </a> </li>
      <li class="navlink"> <a [routerLink]="['/showall']"> Meine Aktien </a> </li>
      <li class="navlink"> <a [routerLink]="['/add']"> Aktie hinzufügen </a> </li>
      <li class="navlink"> <a [routerLink]="['/dax']"> alle Dax Aktien </a> </li>
      <li class="navlink"> <a [routerLink]="['/login']"> Login </a> </li>
      <li class="navlink"> <a [routerLink]="['/register']"> Registrieren </a> </li>
    </ul>
  </nav>

  <!-- <nav class="navbar navbar-expand">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/"> Home </a>
      <a class="nav-item nav-link" routerLink="/showall"> Meine Aktien </a>
      <a class="nav-item nav-link" routerLink="/add"> Aktie hinzufügen </a>
      <a class="nav-item nav-link" routerLink="/dax"> alle Dax Aktien </a>
      <a class="nav-item nav-link" routerLink="/login"> Login </a>
      <a class="nav-item nav-link" routerLink="/register"> Registrieren </a>
    </div>    
  </nav>   -->

</header>
