<!-- <form class="addStockForm" action="http://localhost:3000/add-stock" method="post">
  <div class="form-control">
    <label for="stockTitle"> Name der Aktie </label>
    <input type="text" name="stockTitle">
  </div>
    <input type="text" name="wkn" value="wkn">
    <button type="submit"> Aktie hinzufügen </button>
  
</form> -->

<div class="container-fluid">
  <h1> Aktie Ihrem Monitoring hinzufügen </h1>
  
    <form action="http://localhost:3000/add-stock" method="POST" #formData="ngForm">|
      {{ formData.value | json }}
      <div class="form-group">
        <label for="stockName"> Name der Aktie </label>
        <input class="form-control" type="text" name="stockName" id="stockName" ngModel>
      </div>
      <div class="form-group">
        <label for="wkn"> wkn </label>
        <input class="form-control" type="text" name="wkn" id="wkn" ngModel>
      </div> 
      
      <div class="form-group">
        <select class="custom-select" name="selectedStock" ngModel>
          <option> Dax Aktie auswählen </option>
          <option *ngFor="let stock of daxStocks"> {{ stock }} </option>
        </select>
      </div>

      <div class="form-check">
        <input class="form-check-input"  name="wantAlert" type="checkbox" ngModel>
        <label class="form-check-label"> Email Benachrichtigung erhalten bei Kursänderung von mehr als 10% </label>
      </div>

      <button type="submit" class="btn btn-primary"> Aktie hinzufügen </button>
            
    </form>
</div>
