<!-- <form class="addStockForm" action="http://localhost:3000/add-stock" method="post">
  <div class="form-control">
    <label for="stockTitle"> Name der Aktie </label>
    <input type="text" name="stockTitle">
  </div>
    <input type="text" name="wkn" value="wkn">
    <button type="submit"> Aktie hinzufügen </button>
  
</form> -->

<div class="container">
  <h1> Aktie Ihrem Monitoring hinzufügen </h1>
  
    <form #formData="ngForm" novalidate (ngSubmit)="onSubmit()" class="well">
      <label for="selectedStock"> Dax Aktie wählen</label>
      <div class="form-group">
        <select required #selectedStock="ngModel" class="custom-select" [class.is-invalid]="selectedStock.invalid && selectedStock.touched" 
          name="selectedStock" [(ngModel)]="stockToAdd.selectedStock"  > 
          <!-- <option value=""> Dax Aktie auswählen </option> -->
          <option *ngFor="let stock of daxStocks"> {{ stock }} </option>
        </select>
        <small class="text-danger" [class.d-none]="selectedStock.valid || selectedStock.untouched"> Bitte eine Aktie auswählen </small>
      </div>

      <!-- <div class="form-group">
        <label for="name"> Name der Aktie </label>
        <input #name="ngModel" class="form-control" [class.is-invalid]="name.invalid  && name.touched" required type="text" name="name" id="name"
         [(ngModel)]="stockToAdd.name">
      </div> -->

    <!-- (blur)="validateSelection(selectedStock.value)" (change)="validateSelection(selectedStock.value)"-->

      <div class="form-group">
        <label for="wkn"> wkn </label>
        <input #wkn="ngModel" class="form-control" [class.is-invalid]="wkn.invalid && wkn.touched" required type="text" name="wkn" id="wkn" [(ngModel)]="stockToAdd.wkn">
      </div>       

      <div class="form-check">
        <input class="form-check-input"  name="wantAlert" type="checkbox" ngModel>
        <label class="form-check-label"> Email Benachrichtigung erhalten bei Kursänderung von mehr als 10% </label>
      </div>
      <br> <br>

      <button type="submit" class="btn btn-primary" [disabled]="formData.invalid"> Aktie hinzufügen </button>
            
    </form>
</div>

<div class="container" *ngIf="showSuccessMessage">
  <h2> Aktie erfolgreich hinzugefügt </h2>
</div>
